.pomodoro-container {
  background-color: #F6EFDA;
  background-size: cover;
}

.btn {
  color: black;
}

.switch-btn {
  background-color: #EDD6B0;
  border: none;
}

.start-btn {
  background-color: #bbdd6b;
  border: none;
}

.start-btn:hover {
  color: white;
}

.stop-btn {
  background-color: #f5b5c3;
  border: none;
}

.stop-btn:hover {
  color: white;
}

.settings {
  color: #F4B728;
}

.save-btn {
  border: none;
  background-color: #E28C88;
}

.length-bg {
  background-color: #EDD6B0
}